body {
    background-color: rgb(255, 251, 184);
    font-family: sans-serif,;
    /*cur: url(''),auto;*/
}

h1 {
    font-size: 72px;
    color: rgb(91, 89, 0);
    text-align: center;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    color: rgb(91, 89, 0);
    text-align: center;
}

p, a, ul, ol{
    font-size: 24px;
    color: rgb(91, 89, 0);
}

hr {
    border: 2px solid rgb(91, 89, 0);
}

ul {
    list-style-type: square;
    line-height: 30px;
}

.imgCenter {
    display: block;
    margin: 0 auto;
}